body {
  font-family: sans-serif;
  margin-left: 0;
  margin-right: 0;
  background-color: #F4F4F4;
}
header {
  background-color: #333333;
  color: #929292;
  position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  height: 3rem;
}
header li {
  display: inline-block;
  padding: 0 .5rem 0 .5rem;
  font-size: .75rem;
}
.logo {
  padding-top: .5rem;
  width: 5rem;
}
.logo img {
  height: 2rem;
  width: auto;
  float: left;
}


.upperleft {
  padding-left: 1rem;
  position: absolute;
    top: 0;
    left: 1.5rem;
  list-style: none;
  width: 25rem;
}
.upperright {
  text-align: right;
  width: 20rem;
  position: absolute;
    top: 0;
    right: 0;
}
.learnmore {
  height: 7rem;
  margin-top: 3rem;
  background-color: #444444;
  text-align: center;
}
.learnmore p {
  display: inline-flex;
  padding: 1rem .25rem 0 .25rem;
}
.white {
  color: white;
}
.second {
  color: #929292;
}
.button1 {
  background-color: #999999;
  width: 5.5rem;
  border: #999999 .8rem solid;

}
.button2 {
  background-color: #ED6499;
  width: 4rem;
  border: #ED6499 .8rem solid;


}
.button1, .button2 {
  text-align: center;
  color: white;
  border-radius: .3rem;
  display: inline-block;
  font-size: .85rem;

}
.filters {
  background-color: #FBFBFB;
  text-align: center;
  padding: 1.5rem 0;
  /*height: 3.15rem;*/
  /*vertical-align: middle;*/

}

main {

}
