header {
  background-color: #333333;
  color: #929292;
  position: fixed;
    top: 0;
    bottom: 16rem;
    right: 0;
    left: 0;
  font-family: sans-serif;
}
header li {
  display: inline-block;
  /*padding-bottom: 5px;*/
  padding: 0 .5rem 0 .5rem;
  font-size: 0.75rem;
}

/*header img {
  height: 2rem;
  width: auto;
  margin-top: 1rem;
}*/
.logo img {
  height: 2rem;
  width: auto;
  float: left;
}
.logo {
  padding-top: 1rem;
}


ul {
  padding-left: 1rem;
  margin-top: .5rem;
  list-style: none;

}

.learnmore {
  background-color: #444444
}
.filters {
  background-color: #FBFBFB
}
main {
  background-color: #F4F4F4
}
