head i {
  color: #E26696;
}
body {
  font-family: sans-serif;
  margin-left: 0;
  margin-right: 0;
  background-color: #F4F4F4;
}
header {
  background-color: #333333;
  color: #929292;
  position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  height: 3rem;
}
header li {
  display: inline-block;
  padding: 0 .5rem 0 .5rem;
  font-size: .75rem;
}
ul {
  list-style: none;
}
.logo {
  padding-top: .5rem;
  width: 5rem;
}
.logo img {
  height: 2rem;
  width: auto;
  float: left;
}


.upperleft {
  padding-left: 1rem;
  position: absolute;
    top: 0;
    left: 1.5rem;
  width: 25rem;
}
.upperright {
  text-align: right;
  width: 20rem;
  position: absolute;
    top: 0;
    right: 0;
}
.learnmore {
  height: 4.6rem;
  margin-top: 3rem;
  background-color: #444444;
  text-align: center;
}
.learnmore p {
  display: inline-flex;
  padding: .7rem .25rem 0 .25rem;
}
.white {
  color: white;
}
.second {
  color: #929292;
}
.button1 {
  background-color: #999999;
  width: 5.5rem;
  border: #999999 .8rem solid;

}
.button2 {
  background-color: #ED6499;
  width: 4rem;
  border: #ED6499 .8rem solid;


}
.button1, .button2 {
  text-align: center;
  color: white;
  border-radius: .3rem;
  display: inline-block;
  font-size: .85rem;

}
.filters {
  background-color: #FBFBFB;
  text-align: center;
  padding: .7rem 0;
}
.filters span {
  padding: 0 .7rem;
  font-size: .7rem;
}
.fa { /*all icons with .fa class gets this color*/
  color: #BBBBBB;
}

.icon {
  display: inline;
  /*position: absolute; this el keeps icon above other pages*/
  /*right: 3rem;*/
  vertical-align: text-bottom;
  float: right;
}
.fa-th-large {
  font-size: 1rem;
}
.main-card {
  display: inline-block;
  padding: 0 .5rem;
}
.card {
  height: 9.5rem;
  width: 11rem;
  background-color: #FFFFFF;
  margin: 2rem .5rem 0 .5rem;
}
.card img{
  width: 10rem;
  height: 7.5rem;

  margin-top: .9rem;
  /*margin: 2rem 1rem;*/
}
.bordericons{
  display: inline-block;
  float: right;
  margin-right: .9rem;

}
.bordericons i {
    vertical-align: super;
    padding-left: .5rem;
    /*padding-bottom: 1rem;*/
    font-size: .7rem;
  }
.main-author{
  float: left;
  padding-left: 1rem;
}
.main-author ul {
  padding-left: .1rem;
  margin-top: .25rem;
  font-size: .5rem;
}
.main-author li{
  display: inline-block;
  padding: 0;
  vertical-align: middle;
}
.authorimg img {
    width: .8rem;
    height: .8rem;
    border-radius: 1rem;

  }
.author {
    color: #3A8BBB;
  }
.center {
  text-align: center;
  margin-bottom: 2rem;
}
.bottombutton1, .bottombutton2 {
  font-size: .6rem;
}
.bottombutton1 {
  color: #FFFFFF;
  background-color: #E26696;
  width: 18.6rem;
  border: #E26696 .8rem solid;
  border-radius: .2rem;
  display: inline-block;
  margin: 1rem 0;
}
.bottombutton2 {
  color: #3A8BBB;
  margin: 0 20rem;
}
.arrow-icon {
    position: fixed;
    top: 75%;
    left: 96%;
}
.arrow-icon i {
  font-size: 2rem;
}
footer {
  background-color: #FFFFFF;
  color: #929292;
  font-size: .75rem;
  border-top: 1px solid #929292;
  position: relative;
  height: 19rem;

}
.footer-inner-container {
  margin: 0 auto;
  padding: 0 1rem;
}
.inner-box {
  position: relative;

}
.inner-box-mod {
  float: left;
  width: 25%;
  margin-bottom: 1.5rem;
  box-sizing: border-box;

}
.inner-box-mod img {
  height: 4rem;
}

ul.sitemap {
  display: block;
  margin-right: 4rem;
  padding: 1rem;
}
h3 {
  padding-top: 1rem;
}
.jobs {
  padding-left: 0;
  margin-top: -.5rem;
}
.job-description {
  padding-left: 1.4rem;
}
.company-name {
  color: #3A8BBB;
  font-size: 1rem;
}
.jobs i {
  font-size: 1.2rem;
}
.show {
  padding-bottom: 1rem;
  font-weight: 900;
  font-size: 1rem;
}
.footer-copyright {
  padding-left: 3rem;
  float: left;
}
.inner-box-mod span img {
  height: 3rem;
  border: .5rem solid #D01F5D;
  border-radius: .25rem;
  margin-top: 2rem;
}


.ads {
  padding-top: .5rem;
}
.footer-socialmedia {

  padding-top: .5rem;
  font-size: 2rem;
}
/*.footer-sitemap-container {
  margin: 0 auto;
  padding: 30px 30px 20px 30px;
}*/












.footer-caption-1 img {
  height: 4rem;
}
.footer-caption-1 ul {
  padding-left: 1rem;
  font-size: 1rem;
}
.footer-caption-2 {
  padding-left: 1rem;
  width: 14rem;
}



/*.footer-sitemap ul {
  display: inline-block;
}
.footer-sitemap li {
  padding: .4rem 0;
}*/
.footer-sitemap-container {
  height: 10rem;
  width: 25rem;
}
